asyncpg==0.30.0
attrs==25.1.0
certifi==2024.12.14
charset-normalizer==3.4.1
emoji==2.14.1
idna==3.10
psycopg2==2.9.10
pyaes==1.6.1
pyasn1==0.6.1
PySocks==1.7.1
python-dotenv==1.0.1
requests==2.32.3
rsa==4.9
setuptools==75.8.0
Telethon==1.38.1
urllib3==2.3.0
